:root{
    --bg-color: #d0dfff;
    --box-color: #97ade6;
    --border-shdw: #04075b;
    --transparan: #1e293b80;
    --teks1: #c6ccff;
    --teks2: #eaecff;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
}

.glass-card {
    background: var(--box-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid var(--teks2);
    border-radius: 24px;
    box-shadow: 0 10px 40px -12px var(--border-shdw);
}

.glass-navbar {
    background: var(--transparan);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--transparan);
}

.glass-alert {
    background: var(--transparan);
    backdrop-filter: blur(8px);
    border: 1px solid var(--transparan);
    color: var(--teks2);
}

.text-gradient {
    background: linear-gradient(to right, var(--teks1), var(--teks2));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-light-50 {
    color: rgba(248, 250, 252, 0.5);
}

.video-container {
    width: 400px;
    height: 300px    ;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 40px var(--teks2);
}

video {
    object-fit: cover;
    border-radius: 16px;
   transform: scaleX(-1); 
}

.scanner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: inset 0 0 0 2px var(--teks1);
    z-index: 10;
    pointer-events: none;
}

.scanner-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--bg-color);
    box-shadow: 0 0 10px var(--box-color);
    animation: scan 2s linear infinite;
}

@keyframes scan {
    0% { top: 0; opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { top: 100%; opacity: 0; }
}

.decor-circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(60px);
    z-index: 0;
}

.circle-1 {
    width: 200px;
    height: 200px;
    background: var(--teks1);
    top: -50px;
    left: -50px;
}

.circle-2 {
    width: 250px;
    height: 250px;
    background: var(--teks1);
    bottom: -80px;
    right: -50px;
}
